@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-imb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1512 * 10);
}

@media (max-width: 1023px) {
  html {
    font-size: calc(100vw / 744 * 10);
  }
}

@media (max-width: 539px) {
  html {
    font-size: calc(100vw / 320 * 10);
  }
}

* {
  box-sizing: border-box;
  user-select: none;
  line-height: 1;
}

*:focus-visible {
  outline: none;
}

body {
  min-height: 100dvh;
}

a,
button {
  display: block;
}

.menu-wrapper {
  position: relative;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 0.2rem;
  background-color: orange;
  transition: all ease 0.3s;
}