@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-imb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1512 * 10);
}

@media (max-width: 1023px) {
  html {
    font-size: calc(100vw / 744 * 10);
  }
}

@media (max-width: 539px) {
  html {
    font-size: calc(100vw / 320 * 10);
  }
}

* {
  box-sizing: border-box;
  user-select: none;
  line-height: 1;
}

*:focus-visible {
  outline: none;
}

body {
  min-height: 100dvh;
}

a,
button {
  display: block;
}

.menu-wrapper {
  position: relative;
}

.pointer-events-none {
  pointer-events: none !important;
}

.cost_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: .5rem;
}

.cost_list li {
  width: 100%;
  position: relative;
  padding-left: 40px;
}

.cost_list li::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 3px;
  background-color: #000000;
}

.cost_list2 li {
  width: 100%;
  position: relative;
  padding-left: 30px;
}

.cost_list2 li::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000000;
}